@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-lg;
  }
}

html {
  scroll-behavior: smooth;
}

.gradient_bottom {
  background: linear-gradient(
    0deg,
    rgba(23, 26, 29, 1) 0%,
    rgba(23, 26, 29, 0) 100%
  );
}

.gradient_top {
  background: linear-gradient(
    180deg,
    rgba(23, 26, 29, 1) 0%,
    rgba(23, 26, 29, 0) 100%
  );
}

.gradient_resume {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
